body {
    background-color: #2f2f2f;
}

h1, h2, h3 {
    color: #5e5efe;
    text-align: center;
    margin:20px;
}

p {
    color:#a1a1ff;
    text-indent: 2em;
    font-size: 14pt;
    margin: 20px;
}

a {
    color: #a35efe;
}

a:hover {
    color:#7844bc;
}

iframe {
    display: block;
    margin: 0 auto;
}

.homeLink {
    text-align: center; 
    margin: 20px
}

.linkBox {
    display: flex;
    flex-wrap: wrap;
}

.linkItem {
    text-align: center;
    max-width: 50%;
    font-size: 18pt;
}

.linkImg {
    max-width: 75%; 
    outline: auto #5e5efe
} 